* {
    all: unset;
    font-family: "Iosevka";
    font-family: "Iosevka Eris";
    font-size: 12.9px;
}

@import "styles/variables.scss";
@import "styles/bar.scss";
@import "styles/cal.scss";

window {
    color: $foreground;
}

tooltip {
    font-size: 2em;
    background-color: $background;
    color: $mauve;
    border-radius: $radius;
}