$radius: 7px;
$gap: 7px;

$background: #1e1e2e;
$bgdarker: #11111b;
$foreground: #cdd6f4;

$mauve: #cba6f7;
$red: #f38ba8;
$peach: #fab387;
$green: #a6e3a1;
$sapphire: #74c7ec;

* {
    all: unset;
    font-family: "Iosevka";
    font-family: "Iosevka Eris";
    font-size: 12.9px;
}

eventbox {
    color: red;
}

window {
    color: $foreground;
}

tooltip {
    font-size: 2em;
    background-color: #7BB0DF;
    color: #24292E;
}

.left > *,
.center > *,
.right > * {
    padding: 3px 10px 3px 10px;
    /*temp*/
    margin: $gap 0 0 0;
    /**/
    background-color: $background;

    border-radius: $radius;
    border-style: solid;
    border-width: 2;
    border-color: $bgdarker;
}

.left > * {
    margin-right: $gap;
    border-color: #f5c2e7;
}

.center > * {
    margin-left: $gap;
    margin-right: $gap;
}

.right > * {
    margin-left: $gap;
}

@each $name, $color in (
    workspaces: $mauve,
    time: $red,
    battery: $peach,
    volume: $green,
    network: $sapphire
) {
    .right .#{$name} {
        border-color: $color;
    }
}

.workspace-entry {
}


.inactive {
    color: #313244;
}

.active {
    color: $mauve;
    animation: fade 0.2s linear forwards;
}

/*@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}*/

@keyframes fade {
    0% {
        color: #313244
    }
    100% {
        color: $mauve
    }
}

calendar {
    background: $background;
    padding: 2px 5px;
  
    &.view {
      background-color: $background;
      border-radius: $radius;
      border-style: solid;
      border-width: 2;
      border-color: $bgdarker;
    }
  
    &.button {
      border-radius: 50%;
      color: #3D464E;
  
      &:hover {
        color: #71C0BA;
      }
  
      &:disabled {
        color: #12161B;
      }
    }
  
    &.header {
      border-radius: 0 0 0.3em 0.3em;
    }
  
    &.highlight {
      color: $foreground;
    }
  
    &:selected {
      color: $foreground;
      background: $mauve;
      border-radius: 0.2em;
    }
  
    &:indeterminate {
      color: #3c3e47;
    }
}